.select-home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    .select-home-title {
        font-size: 36px;
        position: relative;
        font-weight: bold;
    }
    .select-home-description {
        position: relative;
        font-size: 18px;
        max-width: 915px;
        text-align: center;
    }
}
.card-select-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1rem;
    & > [class*="card-select-"] {
        cursor: pointer;
        min-width: 250px;
        min-height: 350px;
        border-radius: 17px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .card-select-img {
            background-color: #ffffff60;
            width: 160px;
            height: 160px;
            border-radius: 50%;
        }
        .card-select-title {
            font-size: 28px;
            color: #ffffff;
            font-weight: bold;
        }
    }

}
